{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}


{% block script %}
    <script src="{% static 'javascript/home.js' %}"></script>
{% endblock script %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/github.css' %}">
{% endblock style %}

{% block content %}
<div class='qiita_content_area'>
    <div class='heading'>GitHub</div>
    <div class="container">
        <ol class="title_list_area">
            <div class='column_text'>リポジトリ名</div>
            {% for title in repository_list %}
                <li>{{title}}</li>
            {% endfor %}
        </ol>
        <ul class="link_list_area">
            <div class='column_text'>リンク</div>
            {% for link in repository_link %}
                <li><a href="{{link}}" target="_blank" rel="noopener"><svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 6.5L1.328 9.672a2.828 2.828 0 104 4L8.5 10.5m2-2l3.172-3.172a2.829 2.829 0 00-4-4L6.5 4.5m-2 6l6-6" stroke="currentColor"></path></svg></a></li>
            {% endfor %}
        </ul>
        <ul class="description_area">
            <div class='column_text'>説明</div>
            {% for update_time in repository_description %}
                <li>{{update_time}}</li>
            {% endfor %}
        </ul>       
    </div>
</div>
{% endblock content %}
