{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block script %}
    <script src="{% static 'javascript/home.js' %}"></script>
{% endblock script %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock style %}
{% block content %}
    <div class='top_image_area'>
        <div class='top_content_area'>
            <div class='title_area'>
                <h1>PERSONAL TREE</h1>
            </div>
            <div class='description_area'>
                <p>各アプリでの成果物をまとめています。</p>
                <p>対象のアプリを開き、コンテンツを押すとそのリンクに飛びます。</p>
                <p>ご依頼・ご相談等はお問い合わせフォームよりご連絡ください</p>
            </div> 
        </div>
    </div>
    <div class='content_area'>
        <div class='serect_item_area'>
            <a href="{% url 'github' %}" class="btn-border">GitHub</a>
            <a href="{% url 'qiita' %}" class="btn-border">Qiita</a>
            <a href="{% url 'design' %}" class="btn-border">Design</a>
            <a href="{% url 'portfolio' %}" class="btn-border">Portfolio</a>
        </div>
    </div>
{% endblock content %}
