
.top_image_area{
    top:0px;
    height:93vh;
    background-image: url('../image/aromatherapy-3581133_1920.jpeg');
    /* background-image: url('../image/EzJSVm1VkAc6HrD.jpeg'); */
    /* background-image: url('../image/S__38502407.jpg'); */
    background-size:cover;
    vertical-align: bottom;
}

.top_content_area{
    font-family: 'Vollkorn', serif;
    padding-top: 10%;
}

.title_area{
    height: 100px;
    width: 40%;
    padding: 20px;              /* 余白指定 */
    text-align:  left;        /* 中央寄せ */
    background-color: rgba(175,238,238,0.5);    /* 背景色指定 */
}

.description_area{    
    width: 30%;
    padding: 20px;              /* 余白指定 */
    text-align:  left;        /* 中央寄せ */
    background-color: rgba(175,238,238,0.5);    /* 背景色指定 */
    margin: 7% 2% 0 auto;    
}

.content_area{
    font-family: 'Vollkorn', serif;
    height:60vh;
    /* background-image: url('../image/EzJSVm1VkAc6HrD.jpeg'); */
    background-image: url('../image/zen-4925496_1920.jpeg');
    background-size:between;    

}

.serect_item_area{
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.serect_item_area a{
    flex-basis: calc(33.333333% - 16px);
}

.btn-border {
    display: inline-block;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #FFF;
    background-color: #57ab6f;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    padding: 32px 64px;
    border-radius: 20px;
    transition: .4s;
    flex-grow: 3;
  }
  
.btn-border:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;
}

