.qiita_content_area{
    background-image: url(../image/zen-4925496_1920.jpeg);
    background-size: contain;
    font-family: 'Vollkorn', serif;
    /* background-color: aliceblue; */
}

.heading{
    font-size: 50px;
    text-align: center;
    background-color: rgba(100,255,200,0.5);
    padding-top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    color: aliceblue;
}

.container{
    /* display: flex;
    justify-content: space-between; */
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.qiita_list_area{
    display: flex;
    justify-content: space-between;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
}

.column_text{
    font-size: 20px;
    text-align: center;
}

.title_list_area{
    color: black;
    /* background-color: rgba(255,255,255,0.8); */
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 5%;
}

.title_list_area li{
    padding: 10px;
    border-bottom: solid 3px #87CEFA;
}

.link_list_area{
    list-style: none;
    /* background-color: rgba(255,255,255,0.8); */
    display:flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.link_list_area li{
    padding: 10px;
    text-align: center;
}

.update_time{
    text-align: right;
    list-style: none;
    font-size: 15px;
    /* background-color: rgba(255,255,255,0.8); */
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

.update_time li{
    padding: 10px;
    border-bottom: solid 3px #87CEFA;
}



.like_list_area{
    list-style: none;
    /* background-color: rgba(255,255,255,0.8); */
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.like_list_area li{
    padding: 10px;
    text-align: center;
    border-bottom: solid 3px #87CEFA;
}

.search_area{
    margin: 0 auto;
    margin-top: 2%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search_text{
    border-radius: 5px;
}